Django==4.2.11
gunicorn==21.2.0
django-cors-headers==4.3.1
whitenoise==6.6.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-google-genai==1.0.10
langchain-pinecone==0.1.2

google-generativeai==0.7.2
protobuf==5.29.6

pinecone-client==3.2.2
pypdf==4.2.0
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
